body {
    line-height: 1.45;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

h2 {
    margin: 2em 0 0.8em;
    font-size: 80%;
    letter-spacing: 0.7em;
    border-bottom: 1px solid #000;
}

hr {
    margin: 1em 0;
    border: none;
    border-top: 1px dashed #000;
}